Daniele E. Domenichelli <ddomenichelli@drdanz.it> <daniele.domenichelli@iit.it>
Daniele E. Domenichelli <ddomenichelli@drdanz.it> <daniele.domenichelli@unige.it>
Daniele E. Domenichelli <ddomenichelli@drdanz.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <ddomenichelli@drdanz.it> <ddomenichelli@kde.org>
Gabriele Arnulfo <gabriele.arnulfo@gmail.com> <gabriele.arnulfo@unige.it>
