[Desktop Entry]
Name=Nifti2Dicom
Comment=Convert 3D NIfTI images to DICOM 2D series
Exec=qnifti2dicom
Icon=qnifti2dicom
Type=Application
Categories=Qt;Education;Science;FileTools;ImageProcessing;MedicalSoftware;
Keywords=DICOM;NIfTI;Medical Images;Converter;PACS;
